<p id="notice"><%= notice %></p>

<h1>Yapılacaklar Listem</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Yapılacaklar</th>
      <th>Bitti mi?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.description %></td>
        <td><%= list.completed %></td>
        <td><%= link_to 'Göster', list %></td>
        <td><%= link_to 'Düzenle', edit_list_path(list) %></td>
        <td><%= link_to 'Sil', list, method: :delete, data: { confirm: 'Emin misin?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yapılacak ekle', new_list_path, class: 'btn btn-info' %>
